:root {

    --primary-color: #121212;
    --secondary-color: #2a2a2a;
    --primary-text: #e0e0e0;
    --secondary-text: #b0b0b0;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-text);

}

header,
main,
footer {
    width: 840px;
    /* width: 100%; */
    height: auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-text);
    background-color: #2a2a2a;
    padding: 16px;
    text-align: center;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;

    opacity: 0.7;
    background-color: var(--primary-color);
    color: var(--primary-text);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;

}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 10px;
    opacity: 0.7;
    background-color: var(--primary-color);
    width: 100%;
    padding: 10px;
    left: -16px;
}

.hero article img {
    float: right;
    width: 125px;
}