body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 600px;
}

header {
    background-color: #303030;
    padding: 1px 1px;
    box-sizing: border-box;
    text-align: center;
    margin: 10px 40px;
}

header p {
    color: white;
    font-size: large;
}

main {
    width: 600px;
}

main h1 {
    text-align: center;
}

main img {
    width: 400px;
    height: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 30px gray;
}

main section {
    background-color: lightgrey;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgray;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 3px 30px;
    box-sizing: border-box;
    text-align: left;
}

ul {
    margin-left: -30px;
}

main section h2 {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

footer {
    background-color: #303030;
    padding: 1px 1px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: large;
    margin: 10px 40px;
}